@font-face {
	font-family: 'Prime';
	src: url('prime-light.eot');
	src: url('prime-light.eot?#iefix') format('embedded-opentype'),
		 url('prime-light.woff') format('woff'),
		 url('prime-light.ttf') format('truetype'),
		 url('prime-light.svg#primelight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Prime';
	src: url('prime_regular.eot');
	src: url('prime_regular.eot?#iefix') format('embedded-opentype'),
		 url('prime_regular.woff') format('woff'),
		 url('prime_regular.ttf') format('truetype'),
		 url('prime_regular.svg#primeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}