@import "prime/font";

body {
	font: 15px/20px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}

h1 {
	font-weight: 300;
}

header {
	background: lightblue;
	height: 300px;
	width: 100%;
}

header h1 {
	color: white;
	font-family: Prime, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	margin: 0;
	padding: 150px 30px 0 0;
	text-align: right;
}

main {
	margin: 2em auto;
	max-width: 1000px;
	width: 80%;
}