{% assign current = page.url | downcase | split: '/' %}

<header>
    <a href="/" class="home">
        <h1>Jordan Gray</h1>
        <p>Full stack developer</p>
    </a>
    <nav>
        <ul>
            <li>{% if current[1] == 'about' %}<span class="current">About me</span>{% else %}<a href="/about">About me</a>{% endif %}</li>
            <li>{% if current[1] == 'portfolio' %}<span class="current">Portfolio</span>{% else %}<a href="/portfolio">Portfolio</a>{% endif %}</li>
            <li>{% if current[1] == 'cv' %}<span class="current">CV (PDF)</span>{% else %}<a href="/cv/CV.pdf">CV (PDF)</a>{% endif %}</li>
        </ul>
    </nav>
</header>