figure {
    display: table;
    margin: 0 auto 1em;
    width: auto;

    img,
    svg {
        display: table-row;
        max-width: 100%;
        margin: 0 auto;
    }

    @media screen and (min-width: 50em) {
        &.left {
            float: left;
            margin: 0 2em 1em 0;
        }

        &.right {
            float: right;
            margin: 0 0 1em 2em;
        }

        &.left,
        &.right {
            text-align: left;
            width: 10em; // Prevent text from growing much larger than the image

            img,
            svg {
                max-width: none;
            }
        }
    }
}

figcaption {
    font-style: italic;
    text-align: center;

    background: white;
    border-top: 3px solid $typography-separator-colour;

    display: block;
    padding: 0.3em 0;
}