html {
    background-image: url(bg/noise.png),
                      linear-gradient( 15deg, hsla(10, 100%, 50%, 0.6), transparent 40%),
                      linear-gradient(-15deg, hsla(100, 80%, 30%, 0.6), transparent 40%),    
                      linear-gradient(135deg, hsl(48, 100%, 84%) 10%, hsl(100, 50%, 50%) 30%,
                                              hsl(204, 47%, 45%) 50%, hsl(244, 27%, 55%) 80%);
    background-repeat: repeat, no-repeat, no-repeat, no-repeat;
    background-attachment: fixed;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    background: white;
    box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.6);

    box-sizing: border-box;
    margin: 0 auto 1em;
    max-width: 1000px;
    overflow-x: auto;
    padding: 20px;
    width: 100%;

    position: relative;
    z-index: 1;

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 500px) {
      width: 80%;
    }
}