nav {
	ul,
	li {
		margin: 0;
		padding: 0;
	}

	ul {
		transition: opacity 0.6s;

		position: absolute;
		left: 50%;
		top: 50%;
	}

	li {
		transition: top 0.6s, transform-origin 0.6s, transform 0.6s;

		display: inline-block;
		list-style: none;

		position: absolute;
		top: $header-radius + $nav-orbital-radius - $nav-item-radius;
		left: 0;
		transform-origin: 0 ($nav-item-radius - $header-radius - $nav-orbital-radius);

		a {
			color: #fff;
			font-family: "Segoe UI", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
			font-weight: bold;
			font-size: 1em;

			background: hsla(0,0%,0%,0.5);
			box-shadow: inset 0 0 5px hsla(0, 0%, 0%, 0.7);
			text-decoration: none;
			transition: all 0.6s;

			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			padding: 1em;
			height: $nav-item-radius * 2;
			width: $nav-item-radius * 2;

			position: absolute;
			top: 100%;
			left: -$nav-item-radius;

			&:hover {
				background: hsla(0,0%,100%,0.2);
				box-shadow: none;
				color: black;
			}
		}

		&:first-child {
			transform: rotate(45deg);

			a {
				transform: rotate(-45deg);
			}
		}

		&:last-child {
			transform: rotate(-45deg);

			a {
				transform: rotate(45deg);
			}
		}
	}

	body.collapsed & {
		li {
			font-size: 0.6em;

			&:first-child {
				transform: rotate(20deg);

				a {
					transform: rotate(-20deg);
				}
			}

			&:last-child {
				transform: rotate(-20deg);

				a {
					transform: rotate(20deg);
				}
			}
		}

		a {
			background: white;
			color: white;
			font-size: 0.35em;
		}
	}
}