body {
    font: 300 18px/1.5 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    color: $typography-text-colour;
}

h1,
h2,
h3 {
    font: {
        family: "Segoe UI Light", Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
        weight: 300;
    }
}

code {
    font-family: Consolas, Courier New, Courier, monospace;
}

a {
    color: $typography-link-colour;
    font-weight: bold;
    text-decoration: none;

    &:visited {
        color: $typography-link-visited-colour;
    }

    &:hover,
    &:focus {
        color: $typography-link-hover-colour;
        border-bottom: 1px solid $typography-link-hover-colour;
    }

}

dl {
    margin: 1em 0;
}

dt {
    font-weight: bold;

    &:after {
        content: ':';
    }
}