body {
    font: 18px/1.5 "Helvetica Neue", "Open Sans", Calibri, Helvetica, Arial, sans-serif;
    font-weight: 300;
}

h1,
h2,
h3 {
    font-family: "Segoe UI Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-weight: 300;
}

code {
    font-family: Consolas, Courier New, Courier, monospace;
}