@font-face {
  font-family: 'Omnes Medium';
  src: url('omnes-medium-webfont.eot');
  src: url('omnes-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('omnes-medium-webfont.woff') format('woff'),
       url('omnes-medium-webfont.ttf')  format('truetype'),
       url('omnes-medium-webfont.svg#omnesmedium') format('svg');
}
