<!doctype html>
<html lang="en">
<title>Jordan Gray</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/site.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Open+Sans:300italic,400italic,600italic,400,600,300&amp;subset=latin,latin-ext">
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv-printshiv.js"></script>-->

<body>

<header>
    <div>
        <h1><span class="jordan">Jordan</span> <span class="gray">Gray</span></h1>
        <p>Full stack developer</p>
    </div>
    <nav>
        <ul>
            <li><a href="#"><span>About me</span></a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">CV (PDF)</a></li>
        </ul>
    </nav>
</header>

<main>
    {{ content }}
</main>